.container{
      width: 100%;
      margin: 0 auto;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

/* ------------------------------------- */
.display{
      text-align: right;
      overflow: hidden;
      background: linear-gradient(99.37deg, rgba(255, 255, 255, 0.1276) 4.26%, rgba(255, 255, 255, 0.044) 37.4%, rgba(255, 255, 255, 0) 38.29%), #252525;
      box-shadow: 0px 2px 1px -1px #525252, inset 0px 1px 1px #B5B5B5;
      border-radius: 20px 20px 0px 0px;
      font-style: normal;
      font-weight: 300;
      font-size: 50px;
      color: #EFDA92;
      padding: 5px;
      margin-bottom: 14px;
      width: 259px;
      height: 54px;
      border: none;
}

.calc{
      width: 269px;
      height: 390px;
      background: radial-gradient(186.24% 135.14% at 48.06% -35.14%, #F1F1ED 25.44%, #D6DDE2 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      box-shadow: 0px 20px 12px -8px rgba(49, 54, 63, 0.4), 0px 3px 2px -2px rgba(0, 0, 0, 0.25), inset 0px -5px 6px #9E9E9E, inset 0px 2px 2px 1px #F0F0F0;
      border-radius: 34px;
}

.btn{
      width: 50px;
      height: 50px;
      background: radial-gradient(109% 109% at 40% 100%, #EFEFEF 0%, #B7C7C8 100%);
      box-shadow: 0px 6px 6px rgba(110, 110, 104, 0.4), 0px 3px 3px -1px , 0px 0px 0px 1px #3F3F3F, inset 2px 4px 4px #CDCDCD;
      border-radius: 27px;
      border: none;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000;
}

.btn img{
      position: relative;
      top: 2px;
}

.btn:active{
      background: radial-gradient(109% 109% at 40% 100%, #D7EAEB 0%, #95AFB0 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      box-shadow: 0px 0px 0px 1px #3F3F3F, inset 2px 4px 4px #CDCDCD;
}

.calc__btn{
      display: grid;
      grid-template-columns: repeat(4, 50px);
      gap: 10px;
      justify-content: center;
}
.span-2{
      position: relative;
      left: -60px;
      width: 110px;
}